.patient-history-filter {
  margin: $gutterDefault $gutterXl 0 $gutterLg;
}

.patient-history-filter__filters {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid $gainsboro;
}

.patient-history-filter__show-last {
  margin-bottom: $gutterLg;
  padding-right: $gutterMd;
  border-right: 1px solid $gainsboro;
}

.patient-history-filter__label {
  text-align: left;
  font-weight: 500;
  font-size: $fontSm;
  color: $dimGray;
  line-height: 17px;
  margin-bottom: $gutterSm;
}

.patient-history-filter__show-last-buttons--first-active,
.patient-history-filter__show-last-buttons--active,
.patient-history-filter__show-last-buttons--last-active {
  padding: $gutterSm $gutterLg;
  font-weight: bold;
  font-size: $fontXs;
  color: $white;
  background: $steelBlue;
  margin-right: 2px;
}

.patient-history-filter__show-last-buttons--first-active,
.patient-history-filter__show-last-buttons--first {
  border-radius: 4px 0 0 4px;
}

.patient-history-filter__show-last-buttons--last-active,
.patient-history-filter__show-last-buttons--last {
  border-radius: 0 4px 4px 0;
}

.patient-history-filter__show-last-buttons--first,
.patient-history-filter__show-last-buttons,
.patient-history-filter__show-last-buttons--last {
  padding: $gutterSm $gutterLg;
  font-weight: bold;
  font-size: $fontXs;
  color: $outerSpace;
  background: $gainsboro;
  margin-right: 2px;
}

.patient-history-filter__show-last-buttons--first:hover,
.patient-history-filter__show-last-buttons:hover,
.patient-history-filter__show-last-buttons--last:hover {
  background: $midnightBlue;
  color: $white;
}

.patient-history-filter__dropdown {
  width: calc(100% - 454px);
  padding: 0 $gutterLg 0 $gutterLg;
  margin-bottom: $gutterLg;
  border-right: 1px solid $gainsboro;
}

.patient-history-filter__type {
  margin-bottom: $gutterLg;
}

.patient-history-filter__apply-button {
  height: 32px;
  margin: calc($gutterXl + 1) 0 $gutterLg $gutterLg;
  padding: $gutterSm $gutterLg;
  font-weight: bold;
  font-size: $fontXs;
  color: $white;
  background: $steelBlue;
  border-radius: 4px;
}

.patient-history-filter__apply-button:hover {
  background: $midnightBlue;
}

.patient-history-filter__showing {
  margin: $gutterLg 0;
  text-align: left;
}

.patient-history-filter__showing-label {
  font-size: $fontMd;
  color: $dimGray;
  padding: $gutterXs 0;
}

.patient-history-filter__showing-date {
  font-size: $fontMd;
  font-weight: bold;
  color: $dimGray;
  padding: $gutterXs 0;
}

.patient-history-filter__showing-button {
  float: right;
  width: 100px;
  padding: $gutterSm $gutterDefault;
  margin-top: -4px;
  border-radius: 4px;
  color: $steelBlue;
  border: 1px solid $steelBlue;
  font-weight: bold;
  font-size: $fontXs;
}

.patient-history-filter__showing-button:hover {
  color: $midnightBlue;
  border: 1px solid $midnightBlue;
}

.patient-history-filter__custom-date {
  display: inline-flex;
  flex-wrap: wrap;
  margin: $gutterLg 0;
}

.patient-history-filter__custom-date-to {
  font-size: $fontXs;
  font-weight: bold;
  color: $outerSpace;
  padding: $gutterSm $gutterSm;
  height: 32px;
}

.patient-history-filter__custom-date-input,
.patient-history-filter__invalid-date {
  display: inline-flex;
  flex-wrap: wrap;
}

.patient-history-filter__custom-date-input .flatpickr-input {
  font-family: "Proxima Nova", sans-serif;
  font-size: $fontXs;
  color: $auroMetalSaurus;
  height: 32px;
  width: 153px;
  border: 1px solid $gainsboro;
  padding: $gutterXs $gutterSm;
  border-radius: 2px;
}

.patient-history-filter__invalid-date .flatpickr-input {
  font-family: "Proxima Nova", sans-serif;
  font-size: $fontXs;
  color: $auroMetalSaurus;
  height: 32px;
  width: 150px;
  border: 1px solid $carnelian;
  padding: $gutterXs $gutterSm;
  border-radius: 2px;
}

.patient-history-filter__calendar-icon {
  height: 32px;
  margin-left: -$gutterXxxl;
}

@media only screen and (max-width: 1360px) {
  .patient-history-filter__show-last {
    border-right: none;
  }

  .patient-history-filter__dropdown {
    width: calc(100% - 92px);
    padding: 0 $gutterLg 0 0;
  }

  .patient-history-filter__custom-date {
    margin: $gutterLg 0 0 0;
  }
}
