.type-ahead__dropdown {
  text-align: left;
  font-weight: bold;
  width: 100%;
  font-size: $fontXs;
  color: $outerSpace;
}

.type-ahead__label {
  text-align: left;
  font-weight: 500;
  font-size: $fontSm;
  color: $dimGray;
  line-height: 17px;
  margin-bottom: $gutterSm;
}

.type-ahead__option {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  margin: $gutterSm 0;
}

.type-ahead__option-content {
  padding: 0 $gutterSm;
  border-right: 1px solid $gainsboro;
  font-weight: bold;
  font-size: $fontXs;
  color: $outerSpace;
  max-width: 50%;
}

.type-ahead__option-content--last {
  padding: 0 $gutterSm;
  font-weight: 500;
  font-size: $fontXs;
  color: $auroMetalSaurus;
  max-width: 50%;
}

.type-ahead__dropdown {
  margin-bottom: $gutterXs;
}

.type-ahead__dropdown .Select-control {
  height: 34px;
  border-color: $gainsboro;
  color: $outerSpace;
  table-layout: fixed;
  border-radius: 2px;
}

.type-ahead__dropdown .Select-multi-value-wrapper {
  width: 100%;
}

.type-ahead__dropdown .is-open > .Select-control {
  border-color: $gainsboro;
}

.type-ahead__dropdown .Select-control .Select-value {
  padding: 0 $gutterDefault;
  overflow: hidden;
}

.type-ahead__dropdown .Select-placeholder,
.type-ahead__dropdown .Select--single > .Select-control .Select-value {
  color: $outerSpace;
  padding: 0 $gutterDefault;
}

.type-ahead__dropdown .Select-noresults {
  padding: $gutterSm $gutterDefault;
  font-family: 'Proxima Nova', sans-serif;
  font-size: $fontXs;
}

.type-ahead__dropdown .has-value.Select--single > .Select-control .Select-value .Select-value-label,
.type-ahead__dropdown .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: $outerSpace;
}

.type-ahead__dropdown .has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.type-ahead__dropdown .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.type-ahead__dropdown .has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
.type-ahead__dropdown .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
  color: $outerSpace;
}

.type-ahead__dropdown .Select-input {
  height: 32px;
  padding: 0 $gutterDefault;
}

.type-ahead__dropdown .Select-input input {
  font-family: 'Proxima Nova', sans-serif;
  font-size: $fontXs;
  font-weight: bold;
  color: $midnightBlue;
}

.type-ahead__dropdown .Select-arrow {
  border-color: $steelBlue transparent transparent;
}

.type-ahead__container .is-open .Select-arrow,
.type-ahead__dropdown .Select-arrow-zone:hover > .Select-arrow {
  border-top-color: $midnightBlue;
}

.type-ahead__container .is-open .Select-arrow-zone,
.type-ahead__dropdown .Select-arrow-zone:hover {
  background: linear-gradient(to right, $white, $oceanMist);
}

.type-ahead__dropdown .Select-menu-outer {
  border-top-color: $gainsboro;
}

.type-ahead__dropdown .Select-option {
  color: $outerSpace;
  padding: 0 $gutterXs;
  border-bottom: 1px solid $gainsboro;
}

.type-ahead__dropdown .Select-option.is-disabled {
  background: $antiFlashWhite2;
  cursor: default;
}

.type-ahead__dropdown .Select-option.is-selected {
  background-color: $white;
}

.type-ahead__dropdown .Select-option.is-focused {
  background-color: $whiteSmoke;
}

.type-ahead__dropdown .Select-option:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
