.single-line-text__input {
  border: $smokeGray 1px solid;
  width: 153px;
  height: 32px;
  padding: 1px 12px;
  color: $auroMetalSaurus;
  font-size: $fontXs;
  border-radius: 2px;
  min-width: 180px;
  margin-bottom: 10px;
}

.single-line-text__label {
  margin-bottom: 10px;
  font-size: 14px;
}

