.product-page__main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-top: $gutterXxxxl;
}

.product-page__section-top {
  display: flex;
  flex-direction: column;
  min-height: 157px;
  background: $white;
  padding: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
}

.product-page__section-bottom {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: $gutterXxxl;
  background: $white;
  padding: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
}

.product-page__hint-bar {
  background: $whiteSmoke;
  min-height: 52px;
  display: flex;
  align-items: center;
  padding-left: $gutterXl;
  padding-right: 20px;
}

.product-page__hint-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $steelBlue;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  padding: 4px;
  margin-right: 1em;
}

.product-page__hint-icon {
  font-size: $fontXs;
  font-weight: bold;
  letter-spacing: 0;
  color: $white;
}

.product-page__hint-message {
  flex-grow: 1;
  font-weight: bold;
  color: $dimGray;
  font-size: $fontXs;
}

.product-page__hint-button {
  width: 74px;
  height: 32px;
  border: 1px solid $steelBlue;
  background: $white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-page__hint-button-text {
  font-weight: bold;
  font-size: $fontXs;
  color: $steelBlue;
}
