.claims-navigation__letter {
  line-height: 40px;
}

.claims-navigation__letter-anchor {
  text-decoration: none;
  color: #333;
}

.claims-navigation__letter-anchor[disabled],
.claims-navigation__letter-anchor[disabled]:hover {
  color: #e1e1e1;
}
