.ua-button {
  height: 55px;
  font-size: $fontLg;
  font-family: $fontFamily;
  font-weight: $weightSemiBold;
  cursor: pointer;
  width: 100%;
}

.ua-button--yellow {
  color: #333;
  background-color: $yellow;
}

.ua-button--gray {
  color: #333;
  background-color: $lightGray3;
}

.ua-button:disabled {
  background: $lightGray2;
  color: $gray2;
}

.ua-button--blue {
  color: $primaryColor;
  background-color: #fff;
}

.ua-button--link {
  font-size: $fontNormal;
  color: $primaryColor;
  font-weight: $weightNormal;
}
