.search {
  position: relative;
  display: flex;
  align-items: center;
}

.search__input-box {
  height: 30px;
  width: 348px;
  margin-right: 14px;
  font-size: $fontDefault;
  text-align: right;
  color: $outerSpace;
}

.search__input-box:focus {
  outline: none;
}

.search__loading-container {
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  height: 30px;
  width: 348px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search__loading-container svg {
  height: $fontDefault;
}

.search__placeholder {
  position: absolute;
  height: 30px;
  width: 348px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: text;
}

.search__placeholder-text {
  color: $outerSpace;
  font-size: $fontDefault;
  line-height: $fontDefault;
}

.search-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  position: absolute;
  width: 348px;
  max-height: 384px;
  overflow-y: scroll;
  top: 54px;
  right: 102px;
  z-index: 3;
  box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.search-dropdown__top-border {
  content: '';
  height: 4px;
  width: 340px;
  border-bottom: 4px solid $gainsboro;
  position: absolute;
  top: 54px;
  right: 106px;
  z-index: 4;
}

.search__number-of-results {
  display: flex;
  align-items: center;
  height: 53px;
  min-height: 53px;
  max-height: 53px;
  width: 340px;
  border-bottom: 4px solid $gainsboro;
}

.search__number-of-results-text {
  font-size: $fontSm;
  color: $dimGray;
  letter-spacing: 0;
  width: 255px;
  line-height: $fontSm;
  padding-left: 20px;
}

.search__result-limit {
  font-weight: bold;
}

.search_number-of-results-seperator {
  content: '';
  width: 1px;
  height: 25px;
  background-color: $gainsboro;
}

.search__see-all-link {
  font-size: $fontSm;
  color: $steelBlue;
  line-height: $fontSm;
  font-weight: bold;
  padding-left: 21px;
}

.search__see-all-link:hover {
  cursor: pointer;
}

.search_no-results-container {
  width: 340px;
  height: 64px;
  border-bottom: 4px solid $gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_no-results-text {
  font-size: $fontSm;
  font-weight: bold;
  color: $dimGray;
}

.search__results-container {
  width: 340px;
  border-bottom: 4px solid $gainsboro;
}

.search__result {
  display: flex;
  align-items: center;
  height: 64px;
  border-bottom: 1px solid $gainsboro;
}

.search__result:hover {
  background-color: $whiteSmoke;
}

.search__result-link:last-child .search__result {
  border-bottom: none;
}

.search__result-title {
  margin-left: 20px;
  width: 220px;
}

.search__result-patient-name {
  font-size: $fontMd;
  font-weight: bold;
  color: $steelBlue;
}

.search__result-claim-number {
  font-size: 11px;
  font-weight: bold;
  color: $auroMetalSaurus;
}

.search__result-text--match {
  color: $midnightBlue;
  text-decoration: underline;
}

.search__result-active-status {
  font-size: 11px;
  font-weight: bold;
  color: $steelBlue;
  width: 50px;
  text-align: right;
}

.search__result-active-status--inactive {
  color: $taupeGray;
}

.search__result-pin-container {
  height: 63px;
  width: 52px;
  display: flex;
}

.search__result-link:last-child .search__result-pin-container {
  height: 64px;
}

.search__result-pin-container:hover {
  background-image: linear-gradient(90deg, $whiteSmoke 0%, $oceanMist 97%);
}

.search__dropdown-buttons {
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 49px;
  min-height: 49px;
  max-height: 49px;
}

.search__view-all-claims {
  width: 180px;
  border-right: 1px solid $gainsboro;
}

.search__create-new-patient {
  width: 160px;
}

.search__view-all-claims,
.search__create-new-patient {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $steelBlue;
  font-size: $fontSm;
  font-weight: bold;
  height: 25px;
}

.search__view-all-claims:hover {
  cursor: pointer;
  color: $midnightBlue;
}

.search__create-new-patient:hover {
  cursor: pointer;
  color: $midnightBlue;
}

.search__icon-container {
  display: flex;
  height: 60px;
  width: 60px;
  margin-right: 30px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: $antiFlashWhite1;
}

.search__icon-container--active {
  display: flex;
  height: 60px;
  width: 60px;
  margin-right: 30px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: $midnightBlue;
}

.search__icon-container--active g {
  fill: $white;
}
