.header {
  padding: $gutterLg 0 $gutterLg $gutterLg;
  text-align: left;
  background: $white;
  box-shadow: 0 -5px 20px 1px rgba(0, 0, 0, 0.2);
}

.header .header__icon {
  height: 40px;
}

.header__login-figure,
.header__settings {
  height: 30px;
  width: 30px;
  background: $steelBlue;
  display: block;
  float: right;
  margin: 4px 20px 0 0;
  border-radius: 50%;
  padding: 6px;
}

.header__settings {
  margin-right: 31px;
}
