header.header {
  height: 100px;
  background: #333;
  display: flex;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

header.header div {
  margin: auto;
  letter-spacing: normal;
  white-space: normal;
  word-spacing: normal
}
header.header div.logo {
	flex-basis: 20%;
}

header.header div a {
  width:100%;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
}

header.header div a:hover {
  color: #532ec9;
}