.left-align {
	text-align: left !important;
}
.AC__SubHeader {
	color:#3498DB;
	font-style: italic;
	padding:20px;
	font-size:28px;
}
.AC__SubHeader--badge {
	border-radius:10px;
	font-style:normal;
	font-size:22px;
	height:40px;
	line-height:40px;
	padding:5px 15px;
	color:#000;
	margin-left:20px;
}