.flatpickr-day {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
}

.flatpickr-day:hover {
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($white), to($oceanMist)); /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, $oceanMist, $white); /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, $oceanMist, $white); /* IE 10 */
  background: -ms-linear-gradient(top, $oceanMist, $white);
  color: $midnightBlue;
}

.nextMonthDay {
  color: $deepSpace;
  opacity: 0.65;
  font-weight: normal;
  font-family: "Proxima Nova", sans-serif;
}

.today {
  color: $steelBlue;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
}

span.today:hover {
  border: $auroMetalSaurus 1px solid;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($white), to($oceanMist)); /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, $oceanMist, $white); /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, $oceanMist, $white); /* IE 10 */
  background: -ms-linear-gradient(top, $oceanMist, $white);
  color: $midnightBlue;
}

div.flatpickr-month {
  background-color: $whiteSmoke;
  color: $deepSpace;
  border-radius: 0;
  height: 50px;
  line-height: 37px;
  border: $white 4px solid;
  border-bottom: none;
}

.flatpickr-weekdays {
  text-transform: uppercase;
  color: $auroMetalSaurus;
  font-family: "Proxima Nova", sans-serif;
  font-weight: bold;
  background-color: $whiteSmoke;
  border: $white 4px solid;
  border-top: none;
}

span.flatpickr-weekday {
  background-color: $whiteSmoke;
}

.flatpickr-calendar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flatpickr-next-month,
.flatpickr-prev-month {
  top: 15px;
}
