.claim-card {
  border: 1px solid $gainsboro;
  font-family: 'Arial', 'sans-serif';
  font-size: $fontXs;
}

.claim-card:hover {
  background: $whiteSmoke;
}

.claim-card:hover .claim-card__injury-date {
  background: $gainsboro;
}

.claim-card__number {
  border-left: 1px solid $gainsboro;
  border-right: 1px solid $gainsboro;
  padding: $gutterSm 0;
  margin: $gutterXs 0;
}

.claim-card__name {
  font-weight: bold;
  border-right: 1px solid $gainsboro;
  padding: $gutterSm 0;
  margin: $gutterXs 0;
}

.claim-card__birthday {
  padding: $gutterSm 0;
  margin: $gutterXs 0;
}

.claim-card__injury-date {
  border: 1px solid $gainsboro;
  background: $gainsboro;
  padding: $gutterSm 0;
  margin: $gutterXs 0;
}

.claim-card__buttons {
  padding: $gutterSm 0;
  margin: $gutterXs 0;
}

.claim-card__buttons .claim-card__quote-button {
  color: $taupeGray;
  background: $whiteSmoke;
  border-radius: $gutterXs $gutterXs 0 0;
  padding: $gutterSm;
  margin: 0 $gutterXs;
}

.claim-card__buttons .claim-card__order-button {
  color: $white;
  background: $steelBlue;
  border-radius: $gutterXs $gutterXs 0 0;
  padding: $gutterSm;
  margin: 0 $gutterXs;
}

.claim-card a {
  text-decoration: none;
  color: $deepSpace;
}
