.main-layout-container {
  max-width: $maxPageWidth;
  min-width: $minPageWidth;
}

.sidebar-and-content-container {
  display: flex;
}

.main-content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
