.appointment-calendar {
  padding-top: 10px;
  position: relative;
}

.appointment-calendar-loading-spinner {
  opacity: 0.7;
  background-color: $white;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.appointment-calendar-loading-spinner svg {
  height: 57px;
  width: 57px;
}

.appointment-calendar__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.appointment-calendar__previous-week-button,
.appointment-calendar__next-week-button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: $antiFlashWhite1;
  color: $steelBlue;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.appointment-calendar__previous-week-button:hover,
.appointment-calendar__next-week-button:hover {
  background: linear-gradient(0deg, $white 0%, $oceanMist 100%);
}

.appointment-calendar__previous-week-button:hover g,
.appointment-calendar__next-week-button:hover g {
  fill: $midnightBlue;
}

.appointment-calendar__title {
  color: $dimGray;
  font-size: $fontSm;
  font-weight: bold;
  margin: 0 17px;
}

.appointment-calendar__day-tabs {
  display: flex;
  justify-content: center;
  padding: 0 9px;
  margin-top: 13px;
}

.appointment-calendar__day-tab {
  width: 50px;
  height: 68px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $antiFlashWhite1;
  color: $auroMetalSaurus;
  margin-right: 2px;
  cursor: pointer;
}

.appointment-calendar__day-tab:hover {
  background: linear-gradient(0deg, $white 0%, $oceanMist 100%);
}

.appointment-calendar__day-tab:last-of-type {
  margin-right: 0;
}

.appointment-calendar__day-tab--active {
  background-color: $white;
  color: $deepSpace;
}

.appointment-calendar__day-of-week {
  text-transform: uppercase;
  font-size: $fontXs;
  font-weight: bold;
  margin-top: 10px;
  line-height: $fontXs;
  letter-spacing: 0.05px;
}

.appointment-calendar__day-of-month {
  font-size: $fontXl;
  font-weight: bold;
  line-height: $fontXl;
  letter-spacing: -0.5px;
}

.appointment-calendar-indicator {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-top: 5px;
}

.appointment-calendar-indicator--present {
  background: $pastelGray;
}

.appointment-calendar-indicator--active {
  background: $steelBlue;
}

.appointment-calendar__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 4px;
}

.appointment-calendar__no-appointments-text {
  margin-top: 47px;
  margin-bottom: 48px;
  text-align: center;
  font-weight: bold;
  font-size: $fontXs;
  color: $auroMetalSaurus;
}

.appointment-calendar__claim-seperator {
  height: 5px;
  background-color: $whiteSmoke;
}

.appointment-calendar__claim-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 24px;
  height: 56px;
}

.appointment-calendar__claim-title {
  color: $steelBlue;
  font-size: $fontXl;
  font-weight: bold;
  line-height: $fontXl;
}

.appointment-calendar__claim-number {
  margin-top: 1px;
  font-size: $fontXs;
  font-weight: bold;
  color: $auroMetalSaurus;
  line-height: $fontXs;
}

.appointment-calendar__appointment {
  display: flex;
  align-items: center;
  height: 52px;
  border-top: 1px solid $gainsboro;
}

.appointment-calendar__appointment-content {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.appointment-calendar__appointment-title {
  font-size: $fontSm;
  font-weight: bold;
  color: $dimGray;
  letter-spacing: 0;
  line-height: $fontSm;
}

.appointment-calendar__appointment-time {
  font-size: $fontXs;
  color: $dimGray;
  letter-spacing: 0;
  line-height: $fontXs;
  margin-top: 2px;
}

.appointment-calendar__status-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
}

.appointment-calendar__vertical-seperator {
  height: 32px;
  width: 1px;
  background: $gainsboro;
}
