.view-switcher .view-switcher__buttons {
  background: $steelBlue;
  padding: $gutterXxxl 0;
  justify-content: flex-end;
  height: 100px;
}

.view-switcher .view-switcher__collapse-button {
  display: inline-block;
  margin: 3px $gutterXl;
  padding: $gutterSsm $gutterXs $gutterSsm $gutterDefault;
  width: 125px;
  height: 32px;
  font-size: $fontXxs;
  font-weight: bold;
  text-align: center;
  color: $steelBlue;
  border-radius: 4px;
  background: $white;
}

.view-switcher .view-switcher__expand-button {
  display: inline-block;
  margin: 3px $gutterXl;
  padding: $gutterSsm $gutterXl $gutterSsm $gutterXs;
  width: 125px;
  height: 32px;
  font-size: $fontXxs;
  font-weight: bold;
  text-align: center;
  color: $steelBlue;
  border-radius: 4px;
  background: $white;
}

.view-switcher__collapse-button .view-switcher__collapse-button--text {
  padding-top: 2px;
  width: 70px;
  margin-right: $gutterSm;
}

.view-switcher__expand-button .view-switcher__expand-button--text {
  padding-top: 2px;
  width: 60px;
  margin-left: $gutterSm;
}

.view-switcher__collapse-button--circle,
.view-switcher__expand-button--circle {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  top: -3px;
  background: $lapisLazuli;
  margin-right: $gutterSm;
}

.view-switcher__collapse-button:hover .view-switcher__collapse-button--circle,
.view-switcher__expand-button:hover .view-switcher__expand-button--circle {
  background: $midnightBlue;
}

.view-switcher .view-switcher__row-button--active {
  width: 50px;
  height: 32px;
  margin: 3px 2px 0 0;
  padding: $gutterSsm $gutterDefault;
  background: $white;
  border-radius: 4px 0 0 4px;
}

.view-switcher .view-switcher__row-button {
  width: 50px;
  height: 32px;
  margin: 3px 2px 0 0;
  padding: $gutterSsm $gutterDefault;
  background: $lapisLazuli;
  border-radius: 4px 0 0 4px;
}

.view-switcher .view-switcher__row-button:hover {
  background: $midnightBlue;
}

.view-switcher .view-switcher__col-button--active {
  width: 50px;
  height: 32px;
  margin: 3px 0 0;
  padding: $gutterSsm $gutterDefault;
  background: $white;
  border-radius: 0 4px 4px 0;
}

.view-switcher .view-switcher__col-button {
  width: 50px;
  height: 32px;
  margin: 3px 0 0;
  padding: $gutterSsm $gutterDefault;
  background: $lapisLazuli;
  border-radius: 0 4px 4px 0;
}

.view-switcher .view-switcher__col-button:hover {
  background: $midnightBlue;
}

.view-switcher__collapse-button,
.view-switcher__row-button,
.view-switcher__col-button:hover {
  cursor: pointer;
}
