.patient-info-container__title span {
  padding: $gutterLg 0;
  background: $lightGray4;
  font-size: $fontXs;
  font-weight: bold;
}

.patient-info-container__divider {
  height: 5px;
  background: $lightGray4;
}

.patient-info-container__loading-spinner {
  margin: 200px auto;
}
