.patient-info-container__title span {
  padding: $gutterLg 0;
  background: $antiFlashWhite1;
  font-size: $fontXs;
  font-weight: bold;
}

.patient-info-container__divider {
  height: 5px;
  background: $antiFlashWhite1;
}

.patient-info-spinner-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
