.patient-info {
  position: relative;
  background: $antiFlashWhite2;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-grow: 1;
}

.patient-info-tab {
  flex-grow: 1;
  text-align: center;
  background: $antiFlashWhite2;
  padding: $gutterXxxxl;
  max-width: 460px;
  min-width: 460px;
}

.patient-info-container {
  flex-grow: 1;
  min-height: 600px;
  background: $white;
  max-width: calc(100% - 460px);
  min-width: calc(100% - 460px);
  padding: 0 $gutterXs;
  box-shadow: -5px 0 8px -3px rgba(0, 0, 0, 0.2), -5px 0 20px -3px rgba(0, 0, 0, 0.19);
  z-index: 0;
}

.patient-info-spinner-container {
  position: relative;
  background: $antiFlashWhite2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.patient-info::before,
.patient-info-spinner-container::before {
  content: '';
  display: block;
  box-shadow: inset 0 0 20px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
