.modal__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  z-index: 65535;
}

.modal__main-container {
  background: $white;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.4);
  padding: 4px;
}

.modal__buttons-container {
  display: flex;
  justify-content: flex-end;
  padding: 25px 44px 21px;
}

.modal__button {
  margin-left: 20px;
  height: 32px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__button--normal {
  border: 1px solid $steelBlue;
  background: $white;
}

.modal__button--default {
  border: 1px solid $steelBlue;
  background: $steelBlue;
}

.modal__button-text {
  font-weight: bold;
  font-size: $fontXs;
  color: $steelBlue;
  padding-top: 2px;
}

.modal__button--default .modal__button-text {
  color: $white;
}
