.firm-claim-card {
  border: 1px solid lightgrey;
  font-family: 'Arial', 'sans-serif';
  font-size: 13px;
}

.firm-claim-card:hover {
  background: #f0f8fa;
}

.firm-claim-card:hover .firm-claim-card__injury-date {
  background: #d8dfe1;
}

.firm-claim-card__icon {
  width: 50px;
  min-width: 50px;
}

.firm-claim-card__icon img {
  padding: 10px;
  margin: 0;
}

.firm-claim-card__icon p {
  border-right: 1px solid lightgrey;
  padding: 10px;
  margin: 0;
}

.firm-claim-card__number {
  width: 175px;
  min-width: 175px;
}

.firm-claim-card__number p {
  border-right: 1px solid lightgrey;
  padding: 10px;
  margin: 0;
}

.firm-claim-card__name {
  width: 260px;
  min-width: 260px;
}

.firm-claim-card__name p {
  font-weight: bold;
  border-right: 1px solid lightgrey;
  padding: 10px;
  margin: 0;
}

.firm-claim-card__birthday {
  width: 110px;
  min-width: 110px;
  text-align: center;
}

.firm-claim-card__birthday p {
  padding: 10px;
  margin: 0;
}

.firm-claim-card__injury-date {
  width: 130px;
  min-width: 130px;
  text-align: center;
  border: 1px solid lightgrey;
  background: #ccc;
}

.firm-claim-card__injury-date p {
  padding: 10px;
  margin: 0;
}

.firm-claim-card__buttons {
  width: 280px;
  min-width: 280px;
  text-align: center;
}

.firm-claim-card__buttons .firm-claim-card__quote-button {
  color: #999;
  background: #f0f8fa;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  margin: 0 5px;
}

.firm-claim-card__buttons .firm-claim-card__order-button {
  color: white;
  background: #16529b;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  margin: 0 5px;
}
