body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: $primaryColor;
  text-decoration: none;
}

b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: $gutterSm;
}

ul {
  margin: 0;
  margin-bottom: $gutterSm;
}

li {
  margin-bottom: $gutterSm;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

b,
strong {
  font-weight: $weightSemiBold;
}

abbr[title] {
  border-bottom: none;
}

.ua-page {
  background-color: #fff;
  margin: 0 10px;
  min-height: 100vh;
}

.ua-page__p {
  font-size: $fontNormal;
  font-weight: $weightLight;
}

.ua-page--no-gutter {
  margin: 0;
}

.ua-page--gray {
  background: $lightGray2;
  padding-bottom: $gutterLg;
}

.ua-page__content {
  padding: 0 15px 5px;
}

.ua-form__row {
  margin: 0 0 5px;
}

.ua-form__row-double {
  margin: 15px 0;
}

.ua-form__row-triple {
  margin: 30px 0;
}

.ua-form__row--reverse {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.ua-flex__order--1 {
  order: 1;
}

@media only screen and ($minWidthScreenMd) {
  .ua-page__content {
    padding: 15px 5px;
  }
}

.ua-icon {
  display: inline-block;
}

.ua-h1 {
  font-size: $fontXxl;
}

.ua-h2 {
  font-size: $fontXl;
}

.ua-h3 {
  font-size: $fontLg;
}

.ua-h4 {
  font-size: $fontMd;
}

.ua-h5 {
  font-size: $fontNormal;
}

.ua-h6 {
  font-size: $fontSm;
}

.ua-link {
  color: $primaryColor;
}

.ua-disabled-link {
  pointer-events: none;
}

.ua-align--left {
  text-align: left;
}

.ua-align--center {
  text-align: center;
}

.ua-align--right {
  text-align: right;
}

.ua-align__flex--right {
  display: flex;
  justify-content: flex-end;
}

.ua-valign--bottom {
  display: flex;
  align-items: flex-end;
}

.ua-valign--middle {
  display: flex;
  align-items: center;
}

.ua-positive {
  color: #3e7d3b;
}

.ua-negative {
  color: #cd202c;
}

.ua-overlay__open {
  background: transparent;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

[hidden][aria-hidden="false"] {
  height: 1px;
  overflow: hidden;
}

[hidden][aria-hidden="false"]::selection {
  background: none;
  color: transparent;
}
