.patient-history__title {
  padding: $gutterMd 0;
  margin-top: $gutterXs;
  background: $antiFlashWhite1;
  font-size: $fontXs;
  font-weight: bold;
  width: 100%;
  height: 51px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.patient-history__footer {
  padding: $gutterMd 0;
  margin-bottom: $gutterXs;
  background: $antiFlashWhite1;
  font-size: $fontXs;
  font-weight: bold;
  width: 100%;
  height: 52px;
  text-align: center;
}

.patient-history__spinner-container {
  position: relative;
  background: $white;
  min-height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media only screen and (max-width: 1360px) {
  .patient-history__spinner-container {
    min-height: 280px;
  }
}
