.multi-line-text__container .multi-line-text__textarea {
  border: $smokeGray 1px solid;
  width: 490px;
  height: 64px;
  padding: 1px 12px;
  color: $auroMetalSaurus;
  font-size: $fontXs;
  border-radius: 2px;
  min-width: 180px;
  margin-bottom: 10px;
}

.multi-line-text__container .multi-line-text__label {
  margin-bottom: 10px;
  font-size: 14px;
}

.multi-line-text__container.error .multi-line-text__label {
  color: $carnelian;
}

.multi-line-text__container.error .multi-line-text__textarea {
  border: $carnelian 1px solid;
}

.multi-line-text__textarea.error-border {
  border: 1px solid $carnelian;
  border-radius: 2px;
}
