.sidebar {
  width: 100px;
  letter-spacing: normal;
  background-color: $white;
  border-right: $gainsboro 1px solid;
}

.sideBar__menu {
  list-style: none;
  text-align: center;
  padding-left: 0;
  margin: 0;
}

.sidebar__menu-item {
  padding: 10px;
  margin: 0;
  height: 100px;
  width: 100px;
  border-right: $gainsboro 1px solid;
}

.sidebar__menu-item span {
  font-size: 12px;
  color: $outerSpace;
  text-transform: uppercase;
  line-height: 12px;
  margin: 15px 0;
  display: block;
  text-decoration: none;
}

.sidebar__menu-item:hover {
  background-color: $antiFlashWhite1;
}

.sidebar__menu-item:hover g {
  fill: $lapisLazuli;
}

.sidebar__menu-item.active {
  background-image: linear-gradient(0deg, $celestialBlue1 0%, $mayaBlue 100%);
  border-right: $lapisLazuli 1px solid;
}

.active .sidebar__menu-link-text {
  color: $white;
}

.sideBar__menu a {
  font-size: 12px;
  color: $outerSpace;
  text-transform: uppercase;
  line-height: 12px;
  margin: 10px 0;
  display: block;
  text-decoration: none;
}

.sideBar__menu g {
  fill: $mayaBlue;
}

.sidebar__menu-item.active g,
.sidebar__menu-item:hover .badge {
  fill: $white;
}

.sideBar__menu svg {
  line-height: 48px;
}

.sideBar__menu img {
  clear: both;
  display: block;
  width: 48px;
  height: 48px;
  border: $taupeGray 1px solid;
  margin: 5px auto;
  line-height: 48px;
}

.sideBar__menu .badge {
  background-color: $dimGray;
  border-radius: 7px;
  width: 34px;
  margin: -10px 0 0 40px;
  display: block;
  height: 12px;
  font-size: 11px;
  line-height: 13px;
  position: relative;
  z-index: 2;
}
