.sidebar {
  min-width: 110px;
}

.sideBar__menu {
  list-style: none;
  background-color: #efefef;
  text-align: center;
  padding-left: 0;
  margin: 0;
}

.sideBar__menu li {
  padding: 10px;
  margin: 0;
}

.sideBar__menu li:hover {
  background-color: rgba(52, 152, 219, 1);
}

.sideBar__menu li:hover .badge {
  background-color: #fff;
}

.sideBar__menu a {
  font-size: 12px;
  color: #999;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 12px;
  margin: 10px 5px;
  display: block;
}

.sideBar__menu img {
  clear: both;
  display: block;
  width: 48px;
  height: 48px;
  border: #999 1px solid;
  margin: 5px auto;
}

.sideBar__menu .badge {
  background-color: #999;
  border-radius: 12px;
  width: 50px;
  margin: 3px auto;
  display: block;
  height: 20px;
  font-size: 11px;
  line-height: 20px;
}
