.pin-button-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.pin-button--loading {
  height: 24px;
}

.pin-button {
  cursor: pointer;
}

.pin-button--pinned g {
  fill: $steelBlue;
}

.pin-button--pinned:hover g {
  fill: $lapisLazuli;
}

.pin-button--unpinned g {
  fill: $pastelGray;
}

.pin-button--unpinned:hover g {
  fill: $taupeGray;
}
