.quick-actions .quick-action__buttons {
  margin: $gutterXs $gutterLg $gutterSm $gutterLg;
  display: inline-block;
}

.quick-actions__label {
  float: right;
  width: 90px;
  line-height: 15px;
  font-size: $fontXs;
  color: $dimGray;
  margin: $gutterDefault $gutterLg $gutterDefault 0;
}

.quick-actions__expand-all {
  float: right;
  height: 35px;
  width: 100px;
  line-height: 14px;
  font-size: $fontXs;
  font-weight: bold;
  color: $steelBlue;
  border: 1px solid $steelBlue;
  border-radius: 4px;
  padding: calc($gutterSm + 1) $gutterDefault;
  margin: $gutterXs 0;
}

.quick-actions__expand-all:hover {
  color: $lapisLazuli;
  border: 1px solid $lapisLazuli;
}

.quick-actions__quick-order {
  float: right;
  height: 35px;
  width: 105px;
  line-height: 14px;
  font-size: $fontXs;
  font-weight: bold;
  color: $white;
  background-color: $steelBlue;
  border-radius: 4px;
  padding: calc($gutterSm + 1) $gutterDefault;
  margin: $gutterXs $gutterSm;
}

.quick-actions__quick-order:hover {
  background-color: $lapisLazuli;
}

.quick-actions__quick-quote {
  float: right;
  height: 35px;
  width: 105px;
  line-height: 14px;
  font-size: $fontXs;
  font-weight: bold;
  color: $white;
  background-color: $steelBlue;
  border-radius: 4px;
  padding: calc($gutterSm + 1) $gutterDefault;
  margin: $gutterXs 0;
}

.quick-actions__quick-quote:hover {
  background-color: $lapisLazuli;
}

.quick-actions__expand-all,
.quick-actions__quick-order,
.quick-actions__quick-quote:hover {
  cursor: pointer;
}
