.firm-dropdown {
  position: relative;
  float: right;
  margin: 20px;
  z-index: 1000;
}

.firm-dropdown span {
  color: #666;
  font-size: 12px;
}

.firm-dropdown .firm-dropdown__trigger {
  border-radius: 5px;
  padding: 10px 15px;
}

.firm-dropdown .firm-dropdown__trigger:hover {
  background: lightgray;
}

.firm-dropdown__icon {
  padding: 10px 0;
  margin-right: 10px;
}

.firm-dropdown__name {
  font-weight: bold;
}

.dropdown {
  display: inline-block;
}

.dropdown__content {
  display: none;
  position: absolute;
  min-width: 150px;
}

.dropdown--active .dropdown__content {
  margin-top: 6px;
  right: 0;
  display: block;
}

.firm-dropdown ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.firm-dropdown ul li a {
  font-size: 14px;
  color: black;
}

.firm-dropdown .firm-dropdown__first-item {
  border: solid lightgrey 1px;
  border-radius: 5px 5px 0 0;
  padding: 5px 10px;
  margin: 0;
}

.firm-dropdown .firm-dropdown__first-item a {
  cursor: pointer;
}

.firm-dropdown .firm-dropdown__item {
  cursor: pointer;
  border: solid lightgrey 1px;
  padding: 5px 10px;
  margin: 0;
}

.firm-dropdown .firm-dropdown__item a {
  cursor: pointer;
}

.firm-dropdown .firm-dropdown__last-item {
  cursor: pointer;
  border: solid lightgrey 1px;
  border-radius: 0 0 5px 5px;
  padding: 5px 10px;
  margin: 0;
}

.firm-dropdown .firm-dropdown__last-item a {
  cursor: pointer;
}

.firm-dropdown ul li a:hover {
  color: cornflowerblue;
}
