.firm-dropdown {
  position: relative;
  float: right;
  z-index: 1000;
}

.firm-dropdown span {
  color: $gray;
  font-size: $fontXs;
}

.firm-dropdown__trigger {
  border-radius: $gutterXs;
  padding: $gutterSm $gutterNormal;
}

.firm-dropdown__trigger:hover {
  background: $lightGray;
}

.firm-dropdown__icon {
  padding: $gutterSm 0;
  margin-right: $gutterSm;
}

.firm-dropdown__name {
  font-weight: bold;
}

.dropdown {
  display: inline-block;
}

.dropdown__content {
  display: none;
  position: absolute;
  min-width: 150px;
}

.dropdown--active .dropdown__content {
  margin-top: $gutterXs;
  right: 0;
  display: block;
}

.firm-dropdown ul {
  background: white;
  margin: 0;
  padding: 0;
  list-style: none;
}

.firm-dropdown__link {
  font-size: $fontSm;
  color: black;
}

.firm-dropdown__first-item {
  border: solid lightgrey 1px;
  border-radius: $gutterXs $gutterXs 0 0;
  padding: $gutterXs $gutterSm;
  margin: 0;
}

.firm-dropdown__link {
  cursor: pointer;
}

.firm-dropdown__item {
  cursor: pointer;
  border: solid lightgrey 1px;
  padding: $gutterXs $gutterSm;
  margin: 0;
}

.firm-dropdown__last-item {
  border: solid lightgrey 1px;
  border-radius: 0 0 $gutterXs $gutterXs;
  padding: $gutterXs $gutterSm;
  margin: 0;
}

.firm-dropdown__link:hover {
  color: $lightBlue;
}
