.patient-count {
  display: flex;
  flex-direction: row;
  z-index: 2;
  width: 350px;
}

.patient-count p {
  margin: 0;
  text-align: left;
}

.patient-count__pie-chart {
  padding-top: 15px;
}

.patient-count__pie-chart-number {
  position: absolute;
  font-size: 24px;
  color: $white;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 18px;
  width: 50px;
  text-align: center;
}

.patient-count__info {
  color: $white;
  font-size: 24px;
  margin-left: 18px;
  margin-top: 32px;
  width: 172px;
}

.patient-count__fraction {
  line-height: 24px;
}

.patient-count__text {
  text-transform: uppercase;
  line-height: 16px;
  font-size: 12px;
}

.patient-count__help {
  background: $lightBlue3;
  color: $white;
  font-size: 21px;
  border-radius: 4px;
  width: 40px;
  height: 32px;
  margin-left: 4px;
  margin-top: 34px;
}

.patient-count__help:hover {
  background: $darkBlue;
}
