.patient-card {
  min-width: 380px;
}

.patient-card .patient-card--row,
.patient-card .patient-card--col {
  margin: $gutterDefault $gutterLg;
  padding: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: $white;
}

.patient-card--row .patient-card--row__header,
.patient-card--col .patient-card--col__header {
  background: $whiteSmoke;
}

.patient-card--row__header .patient-card--row__pin {
  max-width: 60px;
  min-width: 60px;
}

.patient-card--row__header .patient-card--row__pin:hover,
.patient-card--col__header .patient-card--col__pin:hover {
  cursor: pointer;
  background: linear-gradient(to right, $oceanMist, $whiteSmoke);
}

.patient-card--row__header .patient-card--row__title {
  padding: $gutterSm 0 $gutterDefault 0;
  text-align: left;
}

.patient-card--row__name {
  color: $steelBlue;
  font-weight: 500;
  font-size: $fontXxxxl;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
}

.patient-card--row__num {
  color: $auroMetalSaurus;
  font-weight: bold;
  font-size: $fontSm;
  height: 15px;
  line-height: 15px;
  text-decoration: none;
}

.patient-card--row__header .patient-card--row__icon {
  padding: $gutterXxl $gutterXl;
  max-width: 65px;
  min-width: 65px;
}

.patient-card--row__header .patient-card--row__icon:hover {
  cursor: pointer;
  background: linear-gradient(to right, $whiteSmoke, $oceanMist);
}

.patient-card__border {
  margin: 0 $gutterXs;
  height: 1px;
  background: $gainsboro;
}

.patient-card--col__header .patient-card--col__pin {
  max-width: 60px;
  min-width: 60px;
}

.patient-card--col__header .patient-card--col__title {
  padding: $gutterSm 0 $gutterDefault 0;
  text-align: left;
}

.patient-card--col__name {
  color: $steelBlue;
  font-weight: 500;
  font-size: $fontXxxxl;
  height: 40px;
  line-height: 40px;
}

.patient-card--col__num {
  color: $auroMetalSaurus;
  font-weight: bold;
  font-size: $fontSm;
  height: 15px;
  line-height: 15px;
}

.patient-card--col__title a,
.patient-card--row__title a {
  text-decoration: none;
}
