.grid {
  padding: 0;
  margin: 0;
}

[class*="grid__col-"] {
  text-align: center;
  padding: 0;
  margin: 0;
}

.section__count {
  width: 40px;
  font-size: $fontXs;
  padding: $gutterSm;
  background: $mayaBlue;
  border-top: 1px solid $gainsboro;
  border-bottom: 1px solid $gainsboro;
}

.section__title-block {
  width: calc(100% - 40px);
  text-align: left;
  font-size: $fontLg;
  font-weight: bold;
  padding: $gutterXs;
  border-top: 1px solid $gainsboro;
  border-bottom: 1px solid $gainsboro;
}

.section__title {
  float: left;
}

.section__title-empty-text {
  float: right;
  font-weight: normal;
  font-size: $fontSm;
  padding-top: 4px;
}

.section__cards {
  margin-left: 50px;
}
