.numeric__main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.numeric__label {
  margin-bottom: 6px;
}

.numeric__label-text {
  font-size: $fontSm;
  font-weight: 500;
  color: $dimGray;
  letter-spacing: 0;
}

.numeric__input {
  border: 1px solid $smokeGray;
  border-radius: 2px;
  height: 32px;
  padding: 0 $gutterDefault;
  color: $dimGray;
}

.numeric__input:focus {
  outline: none;
}
