.firm-footer {
  background: rgb(237, 237, 237);
  height: 130px;
  width: 100%;
  min-width: 1000px;
  padding: 30px;
  overflow: hidden;
}

.firm-footer__icon {
  height: 40px;
  display: inline-block;
  vertical-align: top;
  margin-right: 60px;
}

.firm-footer__text-block {
  height: 100%;
  display: inline-block;
  vertical-align: top;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin-right: 120px;
}

.firm-footer__text-block-last {
  height: 100%;
  display: inline-block;
  vertical-align: top;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.firm-footer__text-block .firm-footer__bold-text {
  font-weight: bold;
}
