.patient-action-card-container .patient-action-card {
  background: $white;
  padding: $gutterXs 0;
}

.patient-action-card-container .patient-action-card--active {
  background: $whiteSmoke;
  margin: 0 $gutterXs;
  padding: $gutterXs 0;
  width: calc(100% - $gutterSm);
}

.patient-action-card__triangle-icon {
  width: 0;
  height: 0;
  top: 0;
  position: absolute;
  border-bottom: 10px solid transparent;
  border-left: 10px solid $purpleHeart;
}

.patient-action-card--active .patient-action-card__icon,
.patient-action-card .patient-action-card__icon {
  max-width: 56px;
  min-width: 56px;
  height: 40px;
  margin: $gutterXs 0;
  border-right: 1px solid $gainsboro;
}

.patient-action-card__icon .patient-action-card__product-icon {
  width: 100%;
  height: 100%;
  padding: 9px 0;
  align-items: center;
}

.patient-action-card .patient-action-card__date {
  color: $auroMetalSaurus;
  margin: $gutterXs 0;
  max-width: 66px;
  min-width: 66px;
  height: 32px;
}

.patient-action-card--active .patient-action-card__date {
  color: $deepSpace;
  margin: $gutterXs 0;
  padding: 0 $gutterDefault;
  max-width: 68px;
  min-width: 68px;
  height: 32px;
}

.patient-action-card__month {
  font-weight: bold;
  font-size: $fontXs;
  line-height: 14px;
}

.patient-action-card__day {
  font-size: $fontXxl;
  font-weight: bold;
  line-height: 24px;
}

.patient-action-card .patient-action-card__body,
.patient-action-card--active .patient-action-card__body {
  display: inline-block;
  margin: $gutterXs 0;
  border-left: 1px solid $gainsboro;
  border-right: 1px solid $gainsboro;
  height: 40px;
}

.patient-action-card__body .patient-action-card__title {
  float: left;
  color: $dimGray;
  font-size: $fontSm;
  padding: 0 0 0 $gutterLg;
  text-align: left;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.patient-action-card--active .patient-action-card__title {
  color: $deepSpace;
  font-weight: bold;
}

.patient-action-card--row__status {
  float: right;
  padding: $gutterSm 0;
  font-size: $fontXs;
}

.patient-action-card--col__status {
  float: right;
  padding: $gutterSm $gutterLg $gutterSsm $gutterXs;
  font-size: $fontXs;
}

.patient-action-card__tag {
  float: right;
  padding: $gutterSm $gutterLg $gutterSsm $gutterXs;
  color: $outerSpace;
  font-size: $fontXs;
  font-weight: bold;
  min-width: 105px;
  text-align: left;
}

.patient-action-card--active .patient-action-card__tag {
  color: $deepSpace;
}

.patient-action-card .patient-action-card__button,
.patient-action-card--active .patient-action-card__button {
  float: right;
  padding: $gutterLg;
  margin: -$gutterXs 0;
  max-width: 56px;
  min-width: 56px;
  align-items: center;
}

.patient-action-card__button:hover {
  cursor: pointer;
  background: linear-gradient(to right, $white, $oceanMist);
}

.patient-action-card__dropdown-border {
  margin: -$gutterXs 0 $gutterSm 0;
  height: 1px;
  background: $gainsboro;
}

.patient-action-card--active .patient-action-card__dropdown {
  font-size: $fontSm;
  margin: $gutterSm 0;
}

.patient-action-card__dropdown-card {
  align-items: center;
}

.patient-action-card__dropdown .patient-action-card__dropdown-padding {
  max-width: 56px;
  min-width: 56px;
  align-self: flex-start;
}

.patient-action-card__dropdown-card .patient-action-card__dropdown-tag {
  padding: $gutterSm $gutterLg;
  border-right: 1px solid $gainsboro;
  border-left: 1px solid $gainsboro;
  color: $deepSpace;
  font-weight: bold;
  text-align: left;
  max-width: 180px;
}

.patient-action-card__dropdown-card .patient-action-card__dropdown-content {
  padding: $gutterSm 0 $gutterSm $gutterLg;
  color: $deepSpace;
  text-align: left;
  overflow: hidden;
}

.patient-action-card-border {
  height: 1px;
  background: $gainsboro;
}

.patient-action-card__info-blocks {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
}

.patient-action-card__info-block {
  flex-wrap: wrap;
  align-self: stretch;
  border-right: 1px solid $gainsboro;
  border-left: 1px solid $gainsboro;
  min-width: 157px;
  max-width: 157px;
  vertical-align: text-top;
}

.patient-action-card__info-block .patient-action-card__dropdown-tag {
  border-right: none;
  border-left: none;
  padding: $gutterSm $gutterLg 0 $gutterLg;
}

.patient-action-card__info-block .patient-action-card__dropdown-content {
  padding: 0 $gutterLg $gutterSm $gutterLg;
  word-wrap: break-word;
}

