.dashboard-container {
  background: $antiFlashWhite2;
}

.dashboard-container__loading-spinner {
  margin: 200px auto;
}

.dashboard-container__header {
  height: 100px;
  background: $steelBlue;
  padding: 0 40px;
}

.dashboard-container__body {
  margin: $gutterDefault $gutterLg;
}
