.dashboard-container {
  background: $antiFlashWhite2;
}

.dashboard-spinner-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-container__header {
  display: flex;
  height: 100px;
  background: $steelBlue;
  padding: 0 40px;
}

.dashboard-container__body {
  margin: $gutterDefault $gutterLg 0 $gutterLg;
  display: flex;
  flex-wrap: wrap;
}
