.dropdown-container,
.dropdown {
  position: relative;
  float: right;
  z-index: 1000;
  margin: 4px 0 0;
}

.dropdown-container {
  margin-right: 13px;
}

.dropdown-container span {
  color: $outerSpace;
  font-size: $fontDefault;
}

.dropdown__trigger {
  border-radius: $gutterXs;
  padding: $gutterSm $gutterDefault;
  text-decoration: none;
}

.dropdown__trigger:hover {
  color: $midnightBlue;
}

.dropdown__icon {
  margin: 4px $gutterSm 0 0;
  float: left;
}

.dropdown__name {
  font-weight: bold;
}

.dropdown-container {
  display: inline-block;
}

.dropdown__content {
  display: none;
  position: absolute;
  min-width: 165px;
  box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.2);
}

.dropdown--active .dropdown__content {
  margin-top: $gutterXs;
  right: -45px;
  display: block;
}

.dropdown__link {
  font-size: $fontSm;
  color: $steelBlue;
}

.dropdown__link {
  cursor: pointer;
  text-decoration: none;
}

.dropdown__item {
  cursor: pointer;
  padding: $gutterXs $gutterSm;
  margin: 0;
}

.dropdown__item:first-of-type {
  padding: $gutterXs $gutterSm;
  margin: 0;
  border-radius: 0 0 0 4px;
}

.dropdown__item:last-of-type::before {
  content: "";
  background: $gainsboro;
  position: absolute;
  top: 25%;
  left: 50%;
  height: 50%;
  width: 1px;
}

.dropdown__last-item {
  padding: $gutterXs $gutterSm;
  margin: 0;
  border-radius: 0 0 4px;
}

.dropdown__ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 4px solid $midnightBlue;
}

.dropdown__ul li {
  background-color: $white;
  float: left;
  width: 50%;
}

.dropdown__link {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: $fontSm;
  color: $steelBlue;
  letter-spacing: -0.11px;
  line-height: 29px;
}

.dropdown__link:hover {
  color: $lapisLazuli;
}
