.patient-header {
  height: 100px;
  width: 100%;
  background: $steelBlue;
}

.patient-header__icon {
  float: left;
  height: $gutterXxl;
  width: $gutterXxl;
  margin: 37px $gutterDefault 33px $gutterXxxxl;
  position: relative;
  z-index: 1;
}

.patient-header__icon:hover {
  cursor: pointer;
}

.patient-header__icon:hover circle {
  fill: $midnightBlue;
}

.patient-header__label {
  float: left;
  text-align: left;
  color: $white;
  position: relative;
  z-index: 1;
  height: 100px;
}

.patient-header__label-name {
  height: $gutterXxxxl;
  margin: $gutterLg 0 -3px 0;
  font-weight: 500;
  font-size: $fontXxxxl;
}

.patient-header__label-claim-number {
  height: 17px;
  margin: 0 0 $gutterXl 0;
  font-weight: bold;
  font-size: $fontSm;
}

.patient-header__quick-actions {
  float: right;
  margin: 34px $gutterXxl;
  height: $gutterXxxl;
}
