@font-face {
  font-family: 'Proxima Nova';
  src: url('./theme/fonts/Proxima Nova/ProximaNova Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: bold;
  src: url('./theme/fonts/Proxima Nova/ProximaNova Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 500;
  src: url('./theme/fonts/Proxima Nova/ProximaNova Semibold.otf') format('opentype');
}

* {
  font-family: 'Proxima Nova', sans-serif;
}

[disabled],
[disabled]:hover {
  pointer-events: none;
}

.bolden {
  font-weight: bold;
}

.error-border {
  border: 1px solid #900 !important;
  border-radius: 2px !important;
}

.error-text {
  color: #900 !important;
}
