.select-list__dropdown {
  text-align: left;
  font-weight: bold;
  width: 100%;
  font-size: $fontXs;
  color: $outerSpace;
}

.select-list__label {
  text-align: left;
  font-weight: 500;
  font-size: $fontSm;
  color: $dimGray;
  margin-bottom: 3px;
}

.select-list__dropdown .Select-control {
  height: 32px;
  border-color: $gainsboro;
  color: $outerSpace;
  table-layout: fixed;
  border-radius: 2px;
}

.select-list__dropdown .Select-multi-value-wrapper {
  width: 100%;
}

.select-list__dropdown .is-open > .Select-control {
  border-color: $gainsboro;
}

.select-list__dropdown .Select-control .Select-value {
  padding: 0 $gutterDefault;
  overflow: hidden;
}

.select-list__dropdown .Select-placeholder,
.select-list__dropdown .Select--single > .Select-control .Select-value {
  color: $outerSpace;
  padding: 0 $gutterDefault;
}

.select-list__dropdown .Select-noresults {
  padding: $gutterSm $gutterDefault;
  font-family: 'Proxima Nova', sans-serif;
  font-size: $fontXs;
}

.select-list__dropdown .has-value.Select--single > .Select-control .Select-value .Select-value-label,
.select-list__dropdown .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: $outerSpace;
}

.select-list__dropdown .has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.select-list__dropdown .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.select-list__dropdown .has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
.select-list__dropdown .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
  color: $outerSpace;
}

.select-list__dropdown .Select-input {
  height: 32px;
  padding: 0 $gutterDefault;
}

.select-list__dropdown .Select-input input {
  font-family: 'Proxima Nova', sans-serif;
  font-size: $fontXs;
  font-weight: bold;
  color: $midnightBlue;
}

.select-list__dropdown .Select-arrow {
  border-color: $steelBlue transparent transparent;
}

.select-list__container .is-open .Select-arrow,
.select-list__dropdown .Select-arrow-zone:hover > .Select-arrow {
  border-top-color: $midnightBlue;
}

.select-list__container .is-open .Select-arrow-zone,
.select-list__dropdown .Select-arrow-zone:hover {
  background: linear-gradient(to right, $white, $oceanMist);
}

.select-list__dropdown .Select-menu-outer {
  border-top-color: $gainsboro;
}

.select-list__dropdown .Select-option {
  color: $outerSpace;
  padding: 0 $gutterXs;
  border-bottom: 1px solid $gainsboro;
}

.select-list__dropdown .Select-option.is-disabled {
  background: $antiFlashWhite2;
  cursor: default;
}

.select-list__dropdown .Select-option.is-selected {
  background-color: $white;
}

.select-list__dropdown .Select-option.is-focused {
  background-color: $whiteSmoke;
}

.select-list__dropdown .Select-option:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.is-focused:not(.is-open) > .Select-control {
  box-shadow: none;
  border-color: $gainsboro;
}
