/* @define app-shell */

.ua-app-shell {
  min-height: 100vh;
  background: $primaryColor;
  position: relative;
  display: flex;
  flex-direction: column;
}

.ua-app-shell__main {
  flex: 1;
}

.ua-app-shell__main--sign-in,
.ua-app-shell__main--security-question,
.ua-app-shell__main--security-questions,
.ua-app-shell__main--set-new-password,
.ua-app-shell__main--password-reset,
.ua-app-shell__main--mileageplus-found,
.ua-app-shell__main--account-locked,
.ua-app-shell__main--mileageplus-not-found,
.ua-app-shell__main--forgot-mileageplus-number,
.ua-app-shell__main--no-security-questions,
.ua-app-shell__main--password-updated {
  background: $yellow;
}

.ua-app-shell__main--booking-sign-in {
  padding: 0;
}

.ua-app-shell__main--sign-in .ua-page,
.ua-app-shell__main--booking-sign-in .ua-page,
.ua-app-shell__main--security-question .ua-page,
.ua-app-shell__main--security-questions .ua-page,
.ua-app-shell__main--set-new-password .ua-page,
.ua-app-shell__main--password-reset .ua-page,
.ua-app-shell__main--mileageplus-found .ua-page,
.ua-app-shell__main--account-locked .ua-page,
.ua-app-shell__main--mileageplus-not-found .ua-page,
.ua-app-shell__main--forgot-mileageplus-number .ua-page,
.ua-app-shell__main--no-security-questions .ua-page,
.ua-app-shell__main--password-updated .ua-page {
  margin: 0 0 -16px 0;
  min-height: 75vh;
}

.ua-app-shell--home {
  background-image: url('../../static/images/bg_home.jpg');
  background-position: top center;
  background-size: cover;
}

@media only screen and ($minWidthScreenMd) {
  .ua-app-shell__main--home {
    margin-top: 80px;
  }

  .ua-app-shell__main--sign-in,
  .ua-app-shell__main--security-question,
  .ua-app-shell__main--security-questions,
  .ua-app-shell__main--set-new-password,
  .ua-app-shell__main--password-reset,
  .ua-app-shell__main--mileageplus-found,
  .ua-app-shell__main--account-locked,
  .ua-app-shell__main--mileageplus-not-found,
  .ua-app-shell__main--forgot-mileageplus-number,
  .ua-app-shell__main--no-security-questions,
  .ua-app-shell__main--password-updated {
    padding: 10px 0 0;
  }
}

@media only screen and ($minWidthScreenLg) {
  .ua-app-shell--home {
    background-position: center;
  }
}

/* @end */
