.footer {
  background: black;
  height: 160px;
  width: 100%;
  min-width: 1005px;
  overflow: hidden;
  text-align: left;
  bottom: 0;
  position: absolute;
  color: white;
  font-size: 11px;
}

.footer p {
  margin: 5px 0;
}
