.footer {
  background: #fff;
  border: 1px solid #ddd;
  height: 160px;
  width: 100%;
  min-width: 1005px;
  overflow: hidden;
  text-align: left;
  padding: 50px 50px 0 145px;
  bottom: 0;
}

.footer__icon {
  height: 40px;
  display: inline-block;
  vertical-align: top;
  margin-right: 60px;
}

.footer__text-block {
  height: 100%;
  display: inline-block;
  vertical-align: top;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin-right: 120px;
}

.footer__text-block-last {
  height: 100%;
  display: inline-block;
  vertical-align: top;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.footer__text-block .footer__bold-text {
  font-weight: bold;
}
